@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
}
@layer components {
  .wrapper {
    max-width: 1728px;
    margin: 0 auto;
    font-weight: 500;
  }
  .main-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .purple-bg {
    background: linear-gradient(to right, #191821 -0.49%, #1e1e2a 80%);
  }
  .grey-bg {
    background: linear-gradient(
      247.32deg,
      #696665 16%,
      #4c4a4a 24.38%,
      #161617 40%
    );
  }
  .grey40-bg {
    background: #778ea8;
  }
  .contact-bg {
    background: linear-gradient(
      247.46deg,
      rgba(22, 22, 23, 0.16) -0.49%,
      rgba(85, 84, 157, 0.08) 100%
    );
  }
  .round-button {
    border: 1px solid rgba(192, 191, 196, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .card {
  }
  .imgCustom {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-shadow {
    box-shadow: 0px 36px 54px rgba(0, 0, 0, 0.18);
  }
  .link-hover {
    transition: all 0.2s linear;
  }
  .link-hover:hover {
    opacity: 0.75;
  }
}
